Repository zsj9418/zashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

feat: select proxy by click dot
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyPreview.vue
Due: eslint --fix, prettier --write

chore(main): release 1.45.0 (#145)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: tooltip style
  package.json
  pnpm-lock.yaml
  src/assets/main.css
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyPreview.vue
  src/helper/tooltip.ts
  src/main.ts
  src/views/HomePage.vue
Due: sort-package-json, eslint --fix, prettier --write

fix: rule & proxy group style
  src/components/proxies/ProxyGroup.vue
  src/components/rules/RuleCard.vue
  src/components/sidebar/RulesCtrl.vue
Due: eslint --fix, prettier --write

chore(main): release 1.45.1 (#150)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: style for icon
  src/components/proxies/ProxyGroup.vue
  src/store/settings.ts
Due: eslint --fix, prettier --write

feat: allow lan & auto upgrade core
  src/api/index.ts
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyGroup.vue
  src/components/settings/BackendSettings.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

fix: pwa style
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.46.0 (#152)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: rule style
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyName.vue
  src/components/rules/RuleCard.vue
Due: eslint --fix, prettier --write

chore(main): release 1.46.1 (#155)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: proxy group & rule style
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyName.vue
  src/components/rules/RuleCard.vue
Due: eslint --fix, prettier --write

chore(main): release 1.46.2 (#156)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: dots tooltip style
  src/App.vue
  src/components/proxies/ProxyPreview.vue
  src/helper/tooltip.ts
Due: eslint --fix, prettier --write

fix: replace ->
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyGroup.vue
  src/components/rules/RuleCard.vue
  src/components/settings/SourceIPLabels.vue
Due: eslint --fix, prettier --write

feat: dns query detail
  src/api/index.ts
  src/components/overview/IPCheck.vue
  src/components/settings/DnsQuery.vue
Due: eslint --fix, prettier --write

fix: opacity style
  src/assets/main.css
  src/components/connections/ConnectionTable.vue
Due: eslint --fix, prettier --write

feat: proxy chain direction
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/components/settings/ConnectionsSettings.vue
  src/config/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

feat: add icon caching and clear cache functionality (#146)
  src/App.vue
  src/components/proxies/ProxyIcon.vue
  src/components/settings/ProxiesSettings.vue
  src/components/settings/ZashboardSettings.vue
  src/helper/utils.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/proxies.ts
Due: eslint --fix, prettier --write

fix: style for rule
  src/components/rules/RuleCard.vue
Due: eslint --fix, prettier --write

chore(main): release 1.47.0 (#157)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: transparent & network type
  src/assets/main.css
  src/components/common/TextInput.vue
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/components/settings/ZashboardSettings.vue
  src/helper/index.ts
Due: eslint --fix, prettier --write

feat: nav for mobile & network quic
  index.html
  pnpm-lock.yaml
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyNodeGrid.vue
  src/components/settings/ZashboardSettings.vue
  src/helper/index.ts
  src/store/connections.ts
  src/types/index.d.ts
  src/views/ConnectionsPage.vue
  src/views/HomePage.vue
  src/views/LogsPage.vue
  src/views/OverviewPage.vue
  src/views/ProxiesPage.vue
  src/views/RulesPage.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.48.0 (#159)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: tip font
  src/helper/tooltip.ts
Due: eslint --fix, prettier --write

fix: virtual scroller estimate size
  src/components/common/VirtualScroller.vue
  src/components/connections/ConnectionCardList.vue
  src/components/proxies/ProxyNodeGrid.vue
  src/views/LogsPage.vue
  src/views/RulesPage.vue
Due: eslint --fix, prettier --write

fix: group test timeout
  src/store/proxies.ts
Due: eslint --fix, prettier --write

chore(main): release 1.48.1 (#162)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: sniff host
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/components/overview/IPCheck.vue
  src/composables/overview.ts
  src/config/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/connections.ts
Due: eslint --fix, prettier --write

fix: ws performance
  src/api/index.ts
Due: eslint --fix, prettier --write

feat: ipip.net
  src/api/index.ts
  src/components/overview/IPCheck.vue
  src/components/settings/DnsQuery.vue
  src/composables/overview.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
Due: eslint --fix, prettier --write

chore(main): release 1.49.0 (#163)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: select blink in firefox
  src/components/sidebar/ConnectionCtrl.vue
  src/components/sidebar/ConnectionTabs.vue
  src/components/sidebar/SourceIPFilter.vue
  src/store/connections.ts
Due: eslint --fix, prettier --write

fix: latency test failed
  src/store/proxies.ts
  src/store/settings.ts
  src/views/OverviewPage.vue
Due: eslint --fix, prettier --write

fix: parse of ipip.net
  src/api/index.ts
  src/components/overview/IPCheck.vue
Due: eslint --fix, prettier --write

fix: tooltip style
  src/App.vue
  src/assets/main.css
  src/components/overview/IPCheck.vue
  src/helper/tooltip.ts
Due: eslint --fix, prettier --write

chore(main): release 1.49.1 (#169)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: latency test timeout
  package.json
  src/config/index.ts
  src/store/proxies.ts
  src/store/settings.ts
Due: sort-package-json, eslint --fix, prettier --write

fix: btm-nav & ipcheck style
  src/assets/main.css
  src/components/overview/IPCheck.vue
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

fix: ip filter
  src/components/sidebar/SourceIPFilter.vue
  src/store/connections.ts
Due: eslint --fix, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: any of: *.{js,jsx,ts,tsx,vue,md,html,css,json,yml,yaml}
