Repository zsj9418/zashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yaml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx,vue}': 'eslint --fix'
'*.{js,jsx,ts,tsx,vue,md,html,css,json,yml,yaml}': 'prettier --write'

chore(main): release 1.32.0 (#107)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore: readme
  README.md
Due: prettier --write

fix: style
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyNodeGrid.vue
Due: eslint --fix, prettier --write

chore(main): release 1.32.1 (#112)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: api for reloadcfg & icon style
  src/components/proxies/ProxyIcon.vue
  src/components/proxies/ProxyNodeCard.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: missing translate for russian
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

chore: readme
  README.md
  image-1.png
  image.png
Due: prettier --write

fix: connections ctrl style
  README.md
  src/components/sidebar/ConnectionCtrl.vue
  src/store/settings.ts
Due: eslint --fix, prettier --write

feat: ports setting for mihomo
  src/api/index.ts
  src/components/settings/BackendSettings.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/config.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: bigger latency tag
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeCard.vue
Due: eslint --fix, prettier --write

fix: settings style
  src/components/settings/BackendSettings.vue
  src/components/settings/ProxiesSettings.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.33.0 (#113)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: settings style
  src/components/sidebar/StatisticsInfo.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: sort by latency for proxy group
  src/helper/index.ts
Due: eslint --fix, prettier --write

fix: rule provider style
  src/components/rules/RuleProvider.vue
Due: eslint --fix, prettier --write

chore: readme
  README.md
  src/helper/index.ts
Due: eslint --fix, prettier --write

chore(main): release 1.33.1 (#117)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: chart style
  src/components/statistics/BasicCharts.vue
  src/components/statistics/SpeedCharts.vue
Due: eslint --fix, prettier --write

fix: metacubex logo
  src/assets/metacubex.jpeg
  src/assets/metacubex.jpg
  src/components/common/BackendVersion.vue
Due: eslint --fix, prettier --write

fix: bigger proxy card
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeCard.vue
Due: eslint --fix, prettier --write

feat: settings for table size
  src/components/connections/ConnectionTable.vue
  src/components/settings/TableSettings.vue
  src/config/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

chore(main): release 1.34.0 (#121)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: remove reload cfgs for sing-box
  src/components/settings/BackendSettings.vue
Due: eslint --fix, prettier --write

feat: settings for proxy card size
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyNodeGrid.vue
  src/components/settings/ProxiesSettings.vue
  src/components/settings/TableSettings.vue
  src/config/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/proxies.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

chore(main): release 1.35.0 (#122)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: ipcheck
  src/api/index.ts
  src/components/statistics/IPCheck.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

feat: connection status
  src/api/index.ts
  src/components/proxies/LatencyTag.vue
  src/components/statistics/ConnectionStatus.vue
  src/helper/index.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.36.0 (#124)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: carousel
  src/components/sidebar/CarouselList.vue
  src/components/sidebar/SideBar.vue
  src/components/statistics/ConnectionStatus.vue
  src/components/statistics/IPCheck.vue
  src/components/statistics/SpeedCharts.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
Due: eslint --fix, prettier --write

feat: sticky thead
  src/components/connections/ConnectionTable.vue
  src/components/statistics/IPCheck.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
Due: eslint --fix, prettier --write

feat: netease -> openai
  src/api/index.ts
  src/components/sidebar/OverviewCarousel.vue
  src/components/sidebar/SideBar.vue
  src/components/statistics/ConnectionStatus.vue
  src/components/statistics/IPCheck.vue
Due: eslint --fix, prettier --write

feat: overview
  src/components/overview/BasicCharts.vue
  src/components/overview/ConnectionStatus.vue
  src/components/overview/ConnectionsCharts.vue
  src/components/overview/IPCheck.vue
  src/components/overview/MemoryCharts.vue
  src/components/overview/SpeedCharts.vue
  src/components/sidebar/OverviewCarousel.vue
  src/composables/overview.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/views/SettingsPage.vue
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore(main): release 1.37.0 (#125)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: customizable connection card
  README.md
  package.json
  pnpm-lock.yaml
  src/components/connections/ConnectionCard.tsx
  src/components/overview/ConnectionStatus.vue
  src/components/settings/ConnectionCardSettings.vue
  src/components/settings/TableSettings.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
  src/views/SettingsPage.vue
Due: sort-package-json, eslint --fix, prettier --write

feat: latency of cloudflare
  src/api/index.ts
  src/components/overview/ConnectionStatus.vue
  src/composables/overview.ts
Due: eslint --fix, prettier --write

chore: default for cards & remove useless i18n & statistics -> overview
  src/components/overview/ConnectionsCharts.vue
  src/components/overview/MemoryCharts.vue
  src/components/overview/SpeedCharts.vue
  src/components/sidebar/StatisticsInfo.vue
  src/components/sidebar/VerticalInfos.vue
  src/helper/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/overview.ts
  src/store/settings.ts
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

fix: connections card style
  src/components/connections/ConnectionCard.tsx
Due: eslint --fix, prettier --write

feat: overview page
  src/components/overview/StatisticsStats.vue
  src/components/proxies/ProxyNodeGrid.vue
  src/components/sidebar/CommonCtrl.vue
  src/components/sidebar/SideBar.vue
  src/components/sidebar/VerticalInfos.vue
  src/config/index.ts
  src/helper/index.ts
  src/helper/utils.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/router/index.ts
  src/store/settings.ts
  src/views/HomePage.vue
  src/views/OverviewPage.vue
  src/views/ProxiesPage.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: rules icon
  src/config/index.ts
Due: eslint --fix, prettier --write

fix: subscription info is null & overview page
  src/components/overview/StatisticsStats.vue
  src/components/proxies/ProxyProvider.vue
  src/components/sidebar/SideBar.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/views/OverviewPage.vue
Due: eslint --fix, prettier --write
