Repository zsj9418/zashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yaml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx,vue}': 'eslint --fix'
'*.{js,jsx,ts,tsx,vue,md,html,css,json,yml,yaml}': 'prettier --write'

fix: display sniffhost for host
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

feat: display details modal for table & card click
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyNodeCard.vue
  src/views/ConnectionsPage.vue
Due: eslint --fix, prettier --write

fix: style for unavailable proxy
  src/components/sidebar/ProxiesCtrl.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
Due: eslint --fix, prettier --write

feat: latency test when right click
  src/components/proxies/ProxyGroup.vue
Due: eslint --fix, prettier --write

chore(main): release 1.50.0 (#174)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: setting for display statistics in collapsed sidebar
  src/components/sidebar/SideBar.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: number of proxies node
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyProvider.vue
Due: eslint --fix, prettier --write

feat: override speedtesturl with config
  src/components/settings/ProxiesSettings.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/proxies.ts
  src/store/settings.ts
  src/types/index.d.ts
Due: eslint --fix, prettier --write

fix: tip for sidebar collapsed
  src/components/sidebar/SideBar.vue
  src/helper/tooltip.ts
Due: eslint --fix, prettier --write

fix: latency test for proxy node card
  src/components/proxies/ProxyNodeCard.vue
Due: eslint --fix, prettier --write

fix: missing destinationPort in connection card
  src/components/connections/ConnectionCard.tsx
  src/store/settings.ts
Due: eslint --fix, prettier --write

fix: dayjs locale
  src/components/sidebar/ProxiesCtrl.vue
  src/main.ts
Due: eslint --fix, prettier --write

refactor: proxies ctrl
  src/components/sidebar/ProxiesCtrl.tsx
  src/components/sidebar/ProxiesCtrl.vue
  src/components/sidebar/SideBar.vue
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

fix: details modals & proxies ctrl style
  src/components/sidebar/ConnectionCtrl.vue
  src/components/sidebar/LogsCtrl.vue
  src/components/sidebar/ProxiesCtrl.tsx
  src/store/proxies.ts
  src/views/ConnectionsPage.vue
Due: eslint --fix, prettier --write

fix: grouped row click
  src/components/connections/ConnectionTable.vue
Due: eslint --fix, prettier --write

feat: one by one latency test for large group
  package.json
  pnpm-lock.yaml
  src/assets/main.css
  src/components/sidebar/ConnectionCtrl.vue
  src/store/proxies.ts
  src/store/settings.ts
  src/views/ConnectionsPage.vue
  src/views/SettingsPage.vue
Due: sort-package-json, eslint --fix, prettier --write

chore(main): release 1.51.0 (#178)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: details modal style
  src/store/settings.ts
  src/views/ConnectionsPage.vue
Due: eslint --fix, prettier --write

chore: upgrade deps
  package.json
  pnpm-lock.yaml
  src/components/common/TextInput.vue
Due: sort-package-json, eslint --fix, prettier --write

fix: ip check style
  src/components/overview/IPCheck.vue
  src/i18n/zh.ts
Due: eslint --fix, prettier --write

feat: connection history in overview page
  package.json
  pnpm-lock.yaml
  src/components/overview/ConnectionHistory.vue
  src/components/overview/StatisticsStats.vue
  src/components/settings/ProxiesSettings.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/views/ConnectionsPage.vue
  src/views/OverviewPage.vue
Due: sort-package-json, eslint --fix, prettier --write

fix: ctrls and other style
  src/App.vue
  src/assets/main.css
  src/components/overview/ConnectionHistory.vue
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyProvider.vue
  src/components/rules/RuleCard.vue
  src/components/rules/RuleProvider.vue
  src/components/sidebar/ConnectionCtrl.vue
  src/components/sidebar/ProxiesCtrl.tsx
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

feat: display icon in connections
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyName.vue
Due: eslint --fix, prettier --write

chore(main): release 1.52.0 (#186)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: details modal & icon style
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyName.vue
  src/store/settings.ts
  src/views/ConnectionsPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.52.1 (#188)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: resizeable table columns
  src/components/connections/ConnectionTable.vue
  src/components/settings/TableSettings.vue
  src/config/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

fix: connections ctrl style
  src/components/sidebar/ConnectionCtrl.vue
Due: eslint --fix, prettier --write

feat: sortable backend list
  src/views/SetupPage.vue
Due: eslint --fix, prettier --write

fix: connections settings style
  src/components/connections/ConnectionTable.vue
  src/components/settings/ConnectionsSettings.vue
  src/components/settings/TableSettings.vue
Due: eslint --fix, prettier --write

refactor: statistics
  src/components/overview/ChartsCard.vue
  src/components/overview/StatisticsStats.vue
  src/components/sidebar/CommonCtrl.vue
  src/components/sidebar/StatisticsInfo.vue
  src/components/sidebar/VerticalInfos.vue
  src/composables/statistics.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: proxy name shrink
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyName.vue
  src/components/sidebar/ConnectionCtrl.vue
Due: eslint --fix, prettier --write

chore(main): release 1.53.0 (#189)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: break all for proxy name
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyName.vue
Due: eslint --fix, prettier --write

chore(main): release 1.53.1 (#190)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: latency test animation
  index.html
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyNodeGrid.vue
  src/components/proxies/ProxyProvider.vue
  src/components/sidebar/ProxiesCtrl.tsx
  src/components/sidebar/RulesCtrl.vue
Due: eslint --fix, prettier --write

feat: swipe to switch pages in mobile
  index.html
  src/App.vue
  src/helper/utils.ts
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

feat: swipe page animation
  src/assets/main.css
  src/components/common/VirtualScroller.vue
  src/router/index.ts
  src/views/ConnectionsPage.vue
  src/views/HomePage.vue
  src/views/LogsPage.vue
  src/views/OverviewPage.vue
  src/views/ProxiesPage.vue
  src/views/RulesPage.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: scroll to top for details modal
  src/composables/connections.ts
Due: eslint --fix, prettier --write

fix: unable to switch backend
  src/components/settings/BackendSettings.vue
Due: eslint --fix, prettier --write
