Repository zsj9418/zashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yaml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx,vue}': 'eslint --fix'
'*.{js,jsx,ts,tsx,vue,md,html,css,json,yml,yaml}': 'prettier --write'

fix: manage hidden groups and other minor style
  README.md
  mobile.png
  pc.png
  src/components/common/DialogWrapper.vue
  src/components/connections/ConnectionDetails.vue
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyGroupForMobile.vue
  src/store/proxies.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

fix: proxy group grid style
  src/components/proxies/ProxyGroupForMobile.vue
  src/components/proxies/ProxyNodeCard.vue
Due: eslint --fix, prettier --write

chore(main): release 1.68.3 (#264)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: provider style and count
  src/components/proxies/ProxyProvider.vue
  src/components/rules/RuleCard.vue
  src/components/sidebar/ProxiesCtrl.tsx
  src/components/sidebar/RulesCtrl.tsx
  src/components/sidebar/RulesCtrl.vue
  src/components/sidebar/SideBar.vue
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

feat: switch for display now node & latency number in rule
  src/components/rules/RuleCard.vue
  src/components/sidebar/LogsCtrl.tsx
  src/components/sidebar/RulesCtrl.tsx
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

fix: proxies preview auto
  src/components/proxies/ProxyPreview.vue
Due: eslint --fix, prettier --write

chore(main): release 1.69.0 (#269)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: promise race for automatic backend switch
  README.md
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

fix: hide toggle collapse btn
  src/components/sidebar/ConnectionCtrl.tsx
  src/components/sidebar/LogsCtrl.tsx
  src/components/sidebar/ProxiesCtrl.tsx
  src/components/sidebar/RulesCtrl.tsx
Due: eslint --fix, prettier --write

feat: transfer type for connection table
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/constant/index.ts
  src/helper/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
Due: eslint --fix, prettier --write

chore(main): release 1.70.0 (#270)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: bring old v4 light and dark theme back to v5
  package.json
  pnpm-lock.yaml
  src/assets/main.css
  src/components/sidebar/SideBar.vue
Due: sort-package-json, eslint --fix, prettier --write

chore(main): release 1.70.1 (#276)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: bring old default theme back
  src/assets/main.css
Due: prettier --write

chore(main): release 1.70.2 (#280)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: daisyuiv5-theme
  src/assets/main.css
  src/assets/theme.css
  src/components/settings/ZashboardSettings.vue
  src/main.ts
Due: eslint --fix, prettier --write

feat: link to backend github
  README.md
  src/components/settings/BackendSettings.vue
  src/components/settings/ZashboardSettings.vue
  src/helper/utils.ts
  src/views/ProxiesPage.vue
  src/views/SetupPage.vue
Due: eslint --fix, prettier --write

feat: setting for auto theme
  src/App.vue
  src/components/settings/ZashboardSettings.vue
  src/helper/utils.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

chore(main): release 1.71.0 (#281)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: remove CNAME in dist
  .github/workflows/deploy.yml
  public/CNAME
  src/components/settings/SourceIPLabels.vue
Due: eslint --fix, prettier --write

feat: policy fixed now tip
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyGroupForMobile.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/types/index.d.ts
Due: eslint --fix, prettier --write

fix: sort desc first for speeds
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyGroupForMobile.vue
  src/components/sidebar/SideBar.vue
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

fix: url https params
  README.md
  src/views/SetupPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.72.0 (#284)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: separate destination and proxy node IP column
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyNodeCard.vue
  src/constant/index.ts
  src/helper/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
Due: eslint --fix, prettier --write

fix: connection & proxies ctrl style for iPad
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/components/sidebar/ConnectionCtrl.tsx
  src/components/sidebar/ProxiesCtrl.tsx
  src/constant/index.ts
  src/helper/index.ts
  src/helper/utils.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

chore(main): release 1.72.1 (#288)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: i18n for remote destination
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyProvider.vue
  src/components/rules/RuleProvider.vue
  src/constant/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
Due: eslint --fix, prettier --write

fix: animation for swipe page
  src/assets/main.css
  src/constant/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

chore(main): release 1.72.2 (#290)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: prevent selecting a selected node
  src/components/proxies/ProxyGroup.vue
  src/components/sidebar/SideBar.vue
Due: eslint --fix, prettier --write

chore(main): release 1.72.3 (#293)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

feat: support all sing-box log level
  src/components/sidebar/LogsCtrl.tsx
  src/constant/index.ts
  src/views/LogsPage.vue
Due: eslint --fix, prettier --write

fix: remove openai cdn test
  src/api/index.ts
  src/components/overview/ConnectionStatus.vue
  src/composables/overview.ts
Due: eslint --fix, prettier --write

fix: catch testurl is empty
  src/constant/index.ts
  src/store/proxies.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

fix: remove redirect to setup when api 404
  README.md
  src/api/index.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

chore(main): release 1.73.0 (#298)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: style for connection details
  src/assets/main.css
  src/components/common/CollapseCard.vue
  src/components/common/TextInput.vue
  src/components/common/VirtualScroller.vue
  src/components/connections/ConnectionDetails.vue
  src/components/overview/BasicCharts.vue
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyNodeGrid.vue
  src/components/rules/RuleCard.vue
  src/components/sidebar/OverviewCarousel.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/views/OverviewPage.vue
Due: eslint --fix, prettier --write
