Repository zsj9418/zashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yaml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx,vue}': 'eslint --fix'
'*.{js,jsx,ts,tsx,vue,md,html,css,json,yml,yaml}': 'prettier --write'

fix: proxy chains sort
  src/components/connections/ConnectionTable.vue
  src/helper/index.ts
  src/store/connections.ts
Due: eslint --fix, prettier --write

fix: make daisyui v5 theme as default
  src/assets/theme.css
  src/components/settings/ZashboardSettings.vue
  src/store/settings.ts
Due: eslint --fix, prettier --write

chore(main): release 1.73.1 (#301)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: highlight text for dark theme
  src/assets/main.css
  src/components/connections/ConnectionCard.tsx
  src/components/rules/RuleCard.vue
  src/components/rules/RuleProvider.vue
  src/components/settings/ZashboardSettings.vue
  src/views/LogsPage.vue
Due: eslint --fix, prettier --write

feat: add custom theme
  src/components/settings/CustomTheme.vue
  src/components/settings/ZashboardSettings.vue
  src/constant/index.ts
  src/helper/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/main.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

chore(main): release 1.74.0 (#302)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: using the existing theme to reset custom theme
  package.json
  pnpm-lock.yaml
  src/components/settings/CustomTheme.vue
  src/components/settings/ZashboardSettings.vue
  src/constant/index.ts
Due: sort-package-json, eslint --fix, prettier --write

fix: long host style in connection table
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/helper/index.ts
Due: eslint --fix, prettier --write

feat: city location for connection details
  src/components/connections/ConnectionDetails.vue
Due: eslint --fix, prettier --write

chore(main): release 1.75.0 (#307)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: long rule for sing-box in table
  index.html
  src/components/connections/ConnectionTable.vue
Due: eslint --fix, prettier --write

fix: setup page style
  src/assets/theme.css
  src/views/SetupPage.vue
Due: eslint --fix, prettier --write

Update deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write
