Repository zsj9418/zashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yaml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx,vue}': 'eslint --fix'
'*.{js,jsx,ts,tsx,vue,md,html,css,json,yml,yaml}': 'prettier --write'

fix: proxies ctrl style
  src/components/sidebar/ProxiesCtrl.vue
Due: eslint --fix, prettier --write

chore(main): release 1.28.3 (#93)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: core update check & fix
  src/api/index.ts
  src/components/proxies/ProxyNodeCard.vue
  src/store/logs.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: render block by cdn
  index.html
  src/store/logs.ts
Due: eslint --fix, prettier --write

chore(main): release 1.29.0 (#95)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: performance
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyProvider.vue
  src/composables/collapse.ts
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.29.1 (#96)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: latency tag & collapse style'
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyProvider.vue
  src/components/rules/RuleCard.vue
  src/components/sidebar/ProxiesCtrl.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: card style for mobile in two columns
  src/components/proxies/ProxyNodeCard.vue
  src/components/rules/RuleCard.vue
  src/store/settings.ts
Due: eslint --fix, prettier --write

chore(main): release 1.29.2 (#97)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: core version check
  src/api/index.ts
Due: eslint --fix, prettier --write

fix: dns query & collpase style
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyProvider.vue
  src/components/settings/DnsQuery.vue
Due: eslint --fix, prettier --write

chore(main): release 1.29.3 (#98)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: transition for preview
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyProvider.vue
  src/composables/collapse.ts
Due: eslint --fix, prettier --write

refactor: collapse card
  src/components/common/CollapseCard.vue
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyProvider.vue
  src/composables/collapse.ts
Due: eslint --fix, prettier --write

fix: backend settings layout
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.29.4 (#99)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: backend version check & provider collapse title
  src/api/index.ts
  src/components/proxies/ProxyProvider.vue
Due: eslint --fix, prettier --write

fix: options label for old safari
  src/components/settings/LanguageSelect.vue
  src/components/sidebar/ProxiesCtrl.vue
  src/components/sidebar/SourceIPFilter.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

feat: new rule card style
  src/api/index.ts
  src/components/rules/RuleCard.vue
  src/components/rules/RuleProvider.vue
  src/views/RulesPage.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

feat: backend version in settings
  src/components/common/BackendVersion.vue
  src/components/sidebar/CommonCtrl.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: tooltip & font style
  index.html
  src/assets/main.css
  src/components/statistics/BasicCharts.vue
Due: eslint --fix, prettier --write

feat: import configs in setup page & rule style
  src/components/common/BackendVersion.vue
  src/components/rules/RuleCard.vue
  src/components/sidebar/CommonCtrl.vue
  src/helper/index.ts
  src/views/SettingsPage.vue
  src/views/SetupPage.vue
Due: eslint --fix, prettier --write

feat: index for rules provider
  src/components/rules/RuleCard.vue
  src/components/rules/RuleProvider.vue
  src/views/RulesPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.30.0 (#100)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: rule card & ctrls style
  src/components/rules/RuleCard.vue
  src/components/rules/RuleProvider.vue
  src/components/sidebar/ProxiesCtrl.vue
  src/components/sidebar/RulesCtrl.vue
Due: eslint --fix, prettier --write

feat: auto switch backend
  src/api/index.ts
  src/i18n/en.ts
  src/i18n/zh.ts
  src/store/setup.ts
  src/types/index.d.ts
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

feat: tip for auto switch
  src/App.vue
  src/api/index.ts
  src/components/settings/BackendSwitch.vue
  src/composables/tip.ts
  src/helper/index.ts
  src/i18n/en.ts
  src/i18n/zh.ts
  src/views/HomePage.vue
  src/views/SetupPage.vue
Due: eslint --fix, prettier --write

fix: //version
  src/api/index.ts
  src/helper/index.ts
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

feat: ipv6 test
  src/api/index.ts
  src/components/proxies/ProxyNodeCard.vue
  src/config/index.ts
  src/i18n/en.ts
  src/i18n/zh.ts
  src/store/proxies.ts
  src/store/settings.ts
  src/types/index.d.ts
  src/views/HomePage.vue
  src/views/SettingsPage.vue
  src/views/SetupPage.vue
Due: eslint --fix, prettier --write

fix: backend available timeout
  src/api/index.ts
Due: eslint --fix, prettier --write

feat: dual mode for cdn fonts
  .github/workflows/deploy.yml
  index.html
  package.json
  pnpm-lock.yaml
  src/main.ts
Due: sort-package-json, eslint --fix, prettier --write

chore(main): release 1.31.0 (#103)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore: readme
  README.md
Due: prettier --write

fix: xs element -> sm element
  src/App.vue
  src/api/index.ts
  src/components/connections/ConnectionCard.tsx
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyProvider.vue
  src/components/rules/RuleProvider.vue
  src/components/settings/BackendSwitch.vue
  src/components/settings/SourceIPLabels.vue
  src/components/sidebar/CommonCtrl.vue
  src/components/sidebar/VerticalInfos.vue
  src/components/statistics/BasicCharts.vue
  src/views/SettingsPage.vue
  src/views/SetupPage.vue
Due: eslint --fix, prettier --write

feat: two line proxy card
  src/components/connections/ConnectionCard.tsx
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyNodeGrid.vue
  src/i18n/en.ts
  src/i18n/zh.ts
  src/store/settings.ts
  src/views/SettingsPage.vue
  tailwind.config.ts
Due: eslint --fix, prettier --write

feat: add ru lang (#108)
  src/components/settings/LanguageSelect.vue
  src/config/index.ts
  src/i18n/index.ts
  src/i18n/ru.ts
  src/main.ts
Due: eslint --fix, prettier --write

fix: ru.ts (#109)
  src/i18n/ru.ts
Due: eslint --fix, prettier --write

fix: style
  src/components/proxies/ProxyNodeGrid.vue
  src/components/settings/BackendSwitch.vue
Due: eslint --fix, prettier --write

fix: update quick-filter-regex (#110)
  src/store/connections.ts
Due: eslint --fix, prettier --write
