Repository zsj9418/zashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yaml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx,vue}': 'eslint --fix'
'*.{js,jsx,ts,tsx,vue,md,html,css,json,yml,yaml}': 'prettier --write'

chore(main): release 1.38.0 (#128)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: default theme -> auto switch theme
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

chore: readme
  README.md
Due: prettier --write

fix: style
  src/components/common/VirtualScroller.vue
  src/components/settings/ConnectionCardSettings.vue
  src/views/OverviewPage.vue
Due: eslint --fix, prettier --write

fix: settings for overview & sourceip is null
  src/components/overview/ConnectionStatus.vue
  src/components/overview/IPCheck.vue
  src/components/sidebar/SourceIPFilter.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

feat: bing bg
  src/App.vue
  src/assets/main.css
  src/components/connections/ConnectionTable.vue
  src/components/sidebar/SideBar.vue
  src/helper/utils.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.39.0 (#132)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: close conn for card
  src/components/connections/ConnectionCard.tsx
  src/helper/utils.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

chore(main): release 1.39.1 (#133)
  .lintstagedrc.yaml
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: remove default img
  src/store/settings.ts
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.39.2 (#135)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: inner sourceip filter
  src/components/sidebar/SourceIPFilter.vue
  src/helper/index.ts
  src/store/connections.ts
Due: eslint --fix, prettier --write

feat: option for split overview page
  src/components/overview/ChartsCard.vue
  src/components/overview/NetworkCard.vue
  src/components/sidebar/SideBar.vue
  src/config/index.ts
  src/helper/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
  src/views/HomePage.vue
  src/views/OverviewPage.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

feat: sort direction for card
  src/components/connections/ConnectionCard.tsx
  src/components/sidebar/ConnectionCtrl.vue
  src/config/index.ts
  src/store/connections.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

fix: default pages
  src/router/index.ts
Due: eslint --fix, prettier --write

chore(main): release 1.40.0 (#136)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: charts style
  src/components/overview/ChartsCard.vue
  src/components/sidebar/OverviewCarousel.vue
Due: eslint --fix, prettier --write

feat: option for hidden groups
  src/components/settings/ProxiesSettings.vue
  src/composables/proxies.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/proxies.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

fix: connections ctrl style
  src/components/sidebar/ConnectionCtrl.vue
Due: eslint --fix, prettier --write

fix: overview style
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.41.0 (#138)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: connections card & overview style
  src/components/connections/ConnectionCard.tsx
  src/components/settings/ConnectionCardSettings.vue
  src/components/settings/ConnectionsSettings.vue
  src/components/settings/ZashboardSettings.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: rule size
  src/components/rules/RuleCard.vue
  src/components/rules/RuleProvider.vue
  src/types/index.d.ts
Due: eslint --fix, prettier --write

feat: search for rules
  src/components/rules/RuleCard.vue
  src/components/sidebar/RulesCtrl.vue
  src/store/rules.ts
  src/views/RulesPage.vue
Due: eslint --fix, prettier --write

fix: desitination
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/sidebar/ConnectionCtrl.vue
  src/helper/index.ts
  src/types/index.d.ts
Due: eslint --fix, prettier --write

feat: options for transparent
  src/App.vue
  src/assets/main.css
  src/components/settings/ZashboardSettings.vue
  src/config/index.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

fix: style
  package.json
  pnpm-lock.yaml
  src/assets/main.css
  src/store/rules.ts
Due: sort-package-json, eslint --fix, prettier --write

chore(main): release 1.42.0 (#139)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: close all btn
  src/components/sidebar/ConnectionCtrl.vue
Due: eslint --fix, prettier --write

feat: size for icon
  src/components/proxies/ProxyIcon.vue
  src/components/settings/ProxiesSettings.vue
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/store/settings.ts
Due: eslint --fix, prettier --write

fix: style for transparent
  src/assets/main.css
  src/components/proxies/ProxyNodeGrid.vue
Due: eslint --fix, prettier --write

feat: range input for transparent
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/assets/main.css
  src/components/settings/ZashboardSettings.vue
  src/config/index.ts
  src/store/settings.ts
Due: sort-package-json, eslint --fix, prettier --write

chore(main): release 1.43.0 (#141)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix: ru.ts (#143)
  src/i18n/ru.ts
Due: eslint --fix, prettier --write

feat: upload image for bg
  src/App.vue
  src/components/settings/ZashboardSettings.vue
  src/helper/utils.ts
  src/i18n/ru.ts
  src/views/ProxiesPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.44.0 (#144)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: rules ctrl style
  src/components/sidebar/ConnectionCtrl.vue
  src/components/sidebar/RulesCtrl.vue
Due: eslint --fix, prettier --write

fix: connections card type
  src/components/connections/ConnectionCard.tsx
Due: eslint --fix, prettier --write

fix: ctrl style
  src/assets/main.css
  src/components/sidebar/ConnectionCtrl.vue
  src/components/sidebar/LogsCtrl.vue
  src/components/sidebar/ProxiesCtrl.vue
  src/components/sidebar/RulesCtrl.vue
  src/components/sidebar/SideBar.vue
  src/views/HomePage.vue
Due: eslint --fix, prettier --write
