Repository zsj9418/zashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yaml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx,vue}': 'eslint --fix'
'*.{js,jsx,ts,tsx,vue,md,html,css,json,yml,yaml}': 'prettier --write'

fix: reduce dom usage
  src/components/connections/ConnectionTable.vue
Due: eslint --fix, prettier --write

feat: swap for navbar
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.26.0 (#80)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: scroll for logs & style
  package.json
  pnpm-lock.yaml
  src/components/connections/ConnectionTable.vue
  src/views/ConnectionsPage.vue
  src/views/HomePage.vue
  src/views/LogsPage.vue
  src/views/ProxiesPage.vue
  src/views/RulesPage.vue
Due: sort-package-json, eslint --fix, prettier --write

fix: virtual scroller for connections card
  src/components/connections/ConnectionCard.tsx
  src/components/connections/ConnectionCardList.vue
  src/components/connections/ConnectionTable.vue
  src/composables/connections.ts
  src/views/ConnectionsPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.26.1 (#82)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: sidebar collapse btn & input clear btn
  src/components/common/TextInput.vue
  src/components/sidebar/CommonCtrl.vue
  src/components/sidebar/ConnectionCtrl.vue
  src/components/sidebar/LogsCtrl.vue
  src/components/sidebar/SideBar.vue
Due: eslint --fix, prettier --write

fix: reduce dom for proxy group
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyProvider.vue
Due: eslint --fix, prettier --write

refactor: virtual scroller
  src/components/common/VirtualScroller.vue
  src/components/connections/ConnectionCardList.vue
  src/views/LogsPage.vue
Due: eslint --fix, prettier --write

fix: reduce dom
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyNodeGrid.vue
  src/components/proxies/ProxyProvider.vue
Due: eslint --fix, prettier --write

fix: virtual scroller for rule
  src/components/rules/RuleCard.vue
  src/store/rules.ts
  src/views/RulesPage.vue
Due: eslint --fix, prettier --write

fix: height for pwa
  src/views/HomePage.vue
Due: eslint --fix, prettier --write

fix: padding
  src/components/common/VirtualScroller.vue
  src/components/connections/ConnectionCardList.vue
  src/views/HomePage.vue
  src/views/LogsPage.vue
  src/views/RulesPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.26.2 (#83)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: DNS query & latency rolling effect cfg
  src/api/index.ts
  src/components/common/VirtualScroller.vue
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyNodeGrid.vue
  src/components/settings/DnsQuery.vue
  src/i18n/en.ts
  src/i18n/zh.ts
  src/store/settings.ts
  src/types/index.d.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: latency countup performance
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyProvider.vue
  src/components/rules/RuleCard.vue
  src/i18n/en.ts
  src/i18n/zh.ts
  src/store/settings.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

chore(main): release 1.27.0 (#84)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: log performonce
  src/store/logs.ts
Due: eslint --fix, prettier --write

fix: fuck you safari
  src/components/common/VirtualScroller.vue
  src/components/settings/DnsQuery.vue
Due: eslint --fix, prettier --write

fix: performance
  src/components/proxies/ProxyNodeCard.vue
  src/components/settings/DnsQuery.vue
  src/store/connections.ts
Due: eslint --fix, prettier --write

chore(main): release 1.27.1 (#85)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: style
  src/components/connections/ConnectionTable.vue
  src/components/sidebar/ProxiesCtrl.vue
  src/i18n/en.ts
  src/views/RulesPage.vue
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: tooltip
  package.json
  pnpm-lock.yaml
  src/assets/main.css
  src/components/connections/ConnectionTable.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyNodeGrid.vue
  src/main.ts
Due: sort-package-json, eslint --fix, prettier --write

fix: cfg for rolling effect
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyNodeCard.vue
  src/i18n/en.ts
  src/i18n/zh.ts
  src/store/settings.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: tippy -> tooltip
  package.json
  pnpm-lock.yaml
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyProvider.vue
  src/main.ts
Due: sort-package-json, eslint --fix, prettier --write

fix: cdn fonts
  index.html
  src/assets/main.css
  src/main.ts
Due: eslint --fix, prettier --write

chore(main): release 1.27.2 (#86)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: add `/setup` route for SetupPage (#88)
  src/router/index.ts
Due: eslint --fix, prettier --write

chore: readme
  README.md
Due: prettier --write

feat: font & charts & proxy group style
  src/components/proxies/ProxyGroup.vue
  src/components/statistics/BasicCharts.vue
  src/components/statistics/ConnectionsCharts.vue
  tailwind.config.ts
Due: eslint --fix, prettier --write

fix: router
  src/App.vue
  src/components/settings/BackendSwitch.vue
  src/components/sidebar/SideBar.vue
  src/config/index.ts
  src/router/index.ts
  src/views/HomePage.vue
  src/views/SetupPage.vue
Due: eslint --fix, prettier --write

fix: lazy new countup
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyGroup.vue
  src/i18n/en.ts
  src/i18n/zh.ts
  src/store/settings.ts
  src/views/SettingsPage.vue
Due: eslint --fix, prettier --write

fix: start time sort
  src/components/connections/ConnectionTable.vue
Due: eslint --fix, prettier --write

feat: CNAME
  README.md
  public/CNAME
Due: prettier --write

chore(main): release 1.28.0 (#90)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: proxy group style & regex ip label
  README.md
  public/CNAME
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyNodeCard.vue
  src/components/proxies/ProxyPreview.vue
  src/helper/index.ts
Due: eslint --fix, prettier --write

chore(main): release 1.28.1 (#91)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: performance
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyNodeCard.vue
  src/helper/index.ts
Due: eslint --fix, prettier --write

chore(main): release 1.28.2 (#92)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: proxy group style
  src/components/proxies/LatencyTag.vue
  src/components/proxies/ProxyGroup.vue
Due: eslint --fix, prettier --write
